.listCarDashboard {
  display: flex;
  flex-wrap: wrap;
  .homeContainer {
    flex: 6;
    .listcar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 10px;
    }
  }
}

.card {
  padding: 10px;
}
