

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat+Alternates:wght@300;400;500;700&family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


.Login{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Logins{
width: 30%;
display: flex;
align-items: center;
justify-content: center;
min-width: 400px;
flex-direction: column;
}

.Wallpaper{
width: 70%;
background: url("../../public/images/bg.jpg");
background-repeat: no-repeat;
background-size: cover;
}
